.container{
    width: 90%;
}

img{
    width: 50vw;
}

/* Media Query */

@media screen and (max-width:768px){

    nav ul li{
        display: block;
    }

    img{
        width: 100%;
    }

    body{
        font-size: 14px;
    }
}